body
{
	font-family: "Lucida Console", "Lucida Console", monospace;
	background-color: rgb(162,0,0); /*192*/
}

header
{
	margin: 10px 5px 0px 5px;
	padding: 10px;
	display: block;
}
header h1
{
	display: inline-block;
	position: absolute;
	right: 50px;
	vertical-align: middle;
}
h1
{
	color: white;
	font-size: 40px;
	font-style: 
	background-color: rgb(0,0,0);
	text-align: left;
}

h3
{
	color: white;
	font-size: 20px;
}

h4
{
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h5
{
	color: white;
	font-size: 15px;
	background-color: grey;
	text-align: center;
	padding: 20px 0px 20px 0px;
	width:200px;
	margin-top: 0px;
}

#auto, #emergencyTitle
{
	font-size: 14px;
}

.container_visualisation
{
	display: flex;
	flex-wrap: wrap;
	flex direction: row;
	align-items: stretch;
	justify-content: center;
}

.container_visualisation div
{
		margin: 5px;
}

.sensor_Box
{
	display: block;
	background-color: rgb(43,43,43);
}

